body {
    font-family: sans-serif;
    font-size: 18px;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 10px;
    width: 100%;
    padding: 4px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(241, 220, 220);
    overflow: auto;

}

.search-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 243, 243);
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    align-items: center;
    gap: 6px;
}

button{
    white-space: nowrap;
    text-align: center;
    border: none;
    background-color: transparent;
}

#input-bar {
    flex-grow: 20;
    border: none;
    background-color: transparent;
}

input:focus {
    outline-width: 0;
}

#search-button {
    margin-left: 10px;
}

.bordered {
    border: 1px solid black;
}

.reversed {
    background-color: black;
    color: white;
}

.header {
    height: 400px;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
    position: relative;
}


.intro {
    position: absolute;
    border: 5px solid white;
    background-color: white;
    text-align: center;
    width: 20%;
    margin-top: 50px;
    margin-left: 60px;
}

#image1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.courses-section {
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 20%;
    margin-top: 3%;
}

.courses-tabs{
    font-weight: bolder;
}

.tabs button {
    color: grey;
    font-size: 19px;
    padding-bottom: 20px;
}

.tabs button:hover{
    color: black;
}

.courses-div{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 1px solid black;
    height: max-content;
    width: 100%vh;
    overflow: auto;
}

.courses-intro{
    white-space: pre-line;
}

.courses-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.course{
    display: block;
    color: black;
    text-decoration: none;
    width: 100%;
}

.course>img {
    width: 230px;
}

.course-item {
    flex-basis: 18%;
    margin: 0%;
}

.author{
    font-size: 15px;
    color: grey;
}

.rate-section {
    align-items:center;
    display: flex;
}

.material-symbols-outlined{
    color: gold;
    padding: 0px;
}

.rate{
    padding-right: 10px;
    padding-top: 5px;
    color: green;
    font-weight: bold;
}

.price {
    font-weight: bold;
}


@media screen and (max-width: 768px) {

    .navigation-bar{
        overflow: hidden;
        display: flex;
    }

    .navigation-bar>button>img{
        height: 80%;
        padding-inline: 30vh;
        width: fit-content;
    }

    .hide2 {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        background-color: blue;
    }

    .header>*{
        width: 100vh;
        position: relative;
    }

    .intro{
        width: inherit;
        margin-left: 0;
        margin-top: 0;
    }

}

@media screen and (min-width: 769px) {

    .hide1 {
        display: none;
    }
}